body{
    background-color: rgba(72, 151, 146, 1);
}
navbg{
   background-color: rgba(72, 151, 146, 1); 
}
#tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    padding-right: 10%;
}
#home{
    padding-left: 5%; padding-right: 5%;
}
#home:hover{
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 20px;
}
#reviews{
    padding-left: 5%; padding-right: 5%;
}
#about{
    padding-left: 5%; padding-right: 5%;
}
#pricing{
    padding-left: 5%; padding-right: 5%;
}
#sign{
    margin-right: 10%;
}
.button{
    border: none;
}
.button-one{
    border: none;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 20px;
    color: rgba(255, 255, 255, 1);
}
.button-two{
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 20px;
    color: rgba(72, 151, 146, 1);
}
.passport{
    width: 30%;
    flex-direction: column;
    /* border: solid 2px black; */
    margin-left: 7%%;
    
}
.image{
    padding-top: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#names{
    
}
.name{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-top: 2%;
    font-weight: 500px;
    font-style: italic;
}
.name:first-child{
    margin-bottom: 0%;
}
.text>p{
    display: flex;
    align-items: center; justify-content: center;
    text-align: center;
    padding: 10% 10% 10% 10%;
    font-size: 250%;
    font-weight: bolder;
    color: rgba(255, 255, 255, 1);
}
.second{
    display: flex;
    flex-direction: row;
}

/* third */
#third{
    display: flex;
    flex-direction: row;
}
#details{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    padding-left: 5%; padding-right: 5%; padding-top: 3%; padding-bottom: 3%;
}
h2{
    font-size: 250%;
    font-weight: bolder;
    color: rgba(255, 255, 255, 1); 
}
h3{
    color: rgba(72, 151, 146, 1)
}
h5{
    font-size: 80%;
    color: rgba(72, 151, 146, 1);
    font-style: bold;
}
#project{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}
#projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid rgba(255, 255, 255, 1);
}
#fav-band, #anitas, #kreative{
    background-color: rgba(255, 255, 255, 1);
    width: 31%;
    border-radius: 20px;
    padding-left: 3%; padding-right: 3%; padding-top: 3%; padding-bottom: 3%;
    margin-top: 2%; margin-bottom: 2%;
    font-size: 80%;
}
a{
    color: rgba(72, 151, 146, 1);
}
@media only screen and (max-width: 768px) {
    font-size: 50%;


}